<h2> Welcome back! </h2>

<form action="<%= session_url %>" method="POST">
    <label>Username: 
        <input  type="string" name="user[username]" value="<%= @user.username %>">
    </label>
    <br>

    <label>Password: 
        <input type="password" name="user[password]" value="<%= @user.password %>">
    </label>
    <br>

    <input type="submit" value="Login">
</form>